{{define "templates/restaurants.tmpl"}}
<form>
<table>
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Stars</th>
			<th scope="col">Chef</th>
			<th scope="col">Address</th>
			<th scope="col">Delete</th>
			<th scope="col">Update</th>
		</tr>
	</thead>
	<tbody id="restaurants-table" class="included-data">
		{{range .restaurants}}
			<tr restaurantID="{{.ID}}">
				<td contenteditable="true"><a hx-get="http://localhost:8083/api/v1/restaurant/{{.ID}}" hx-trigger="click" hx-target="#restaurant-list" hx-push-url="true">{{.Name}}</a></td>
				<td contenteditable="true">{{.Stars}}</td>
				<td contenteditable="true"><a href="#">{{.Chef}}</a></td>
				<td contenteditable="true">{{.Address}}</td>
				<td><button role="button" class="outline" hx-delete="http://localhost:8083/api/v1/restaurant/delete/{{.ID}}" hx-trigger="click">Delete</button></td>
				<td><button role="button" class="outline" hx-patch="http://localhost:8083/api/v1/restaurant/update/{{.ID}}" hx-trigger="click" hx-include=".included-data">Update</button></td>
			</tr>
		{{end}}
	</tbody>
</table>
</form>
{{end}}
